#roomDataBody tr:nth-child(odd) {
  background-color: white;
}

#roomDataBody tr:nth-child(even) {
  background-color: #f6f6f6;
}

#roomDataBody tr:hover {
  background-color: #f2f2f2;
  transition: ease-in-out;
  cursor: pointer;
}
